@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);

body {
    font-family: "Rubik", sans-serif;
}

#login {
    margin-left: 25px;
    font-size: 1.4rem;
}

.inputBox {
    display: block;
    margin: 25px;
    padding: 8px;
    width: 300px;
    border: 1px solid #252525;
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(120px);
    margin: 12px;
    
}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 3%;
    box-shadow: 12px 12px 5px rgba(0, 0, 0, 0.5);
    

    
}

#eventName {
    font-size: 4rem;
    margin-top: 12px;
}

#eventHead {
    font-size: 1.1rem;
    font-weight: bold;
}

.button {
    margin: 25px;
    padding: 10px;
    width: 100px;
    background-color: #7DC1EB;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
}

.button:hover {
    background-color: #4FA2D2;
}